.page-not-found {
  height: 100vh;
  width: 95vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../multimedia/portada-min.jpg);
  background-size: cover;

  h1 {
    font-size: 6em;
    background: rgba(255, 255, 255, 0.2);
  }
  h2 {
    font-size: 4em;
    font-weight: 700;
    color: #39414a;
    background: rgba(255, 255, 255, 0.2);
    text-shadow: 2px 2px 4px white;
  }
  a {
    display: inline-block;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.726);
    color: black;
    font-weight: 500;
    font-size: 2em;
    border-radius: 2rem;
    transition: 0.2s ease;

    &:hover {
      background: rgb(255, 255, 255);
    }
  }
}
